<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>

	<property name="DEV_HOME" value="/opt/dgaassam/logs" />

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/dgaassam.log</file>
	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<Pattern>
			TIME- %d{dd-MM-yyyy HH:mm:ss.SSS}%n REQUEST DETAILS- %mdc%n MESSAGE- %msg%n
		</Pattern>
	</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/dgaassam.%d{dd-MM-yyyy}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

 	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
		<smtpHost>smtp.gmail.com</smtpHost>
		<smtpPort>587</smtpPort>
		<STARTTLS>true</STARTTLS>
		<username>${gmail-id}</username>
		<password>${gmnail-pass}</password>
		<to>${user-1}</to>
		<to>${user-1}</to>
		<subject>Exception Occurred in DGA Assam: %logger{20} </subject>
   	<layout class="ch.qos.logback.classic.html.HTMLLayout"  />
	</appender>

	<logger name="org.sdrc.dga" level="error" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="EMAIL" />
	</logger>
	
	<logger name="org.sdrc.dga" level="info" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<root level="error">
	 	<appender-ref ref="EMAIL" />
	</root>

	

</configuration>